html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-dark);
  line-height: 1.6;
  background-color: var(--back);
  margin: 0px;
}

.hero {
  background: var(--primary);
  color: var(--bg-light);
  padding: 60px 20px;
  text-align: center;
}

.about,
.gallery,
.location {
  padding: 40px 20px;
  text-align: center;
}

.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery {
  justify-content: center;
  gap: 0px;
  padding: 40px;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
}

.footer {
  background: var(--bg-light);
  text-align: center;
  padding: 20px;
}